* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, sans-serif;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  color: #040303;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.boton-gral, input, main .contenedor-back-porta .content-area .btn, .cards-contenedor .card-wrap .card .footer-card .categoria-card a {
  background: transparent;
  border-radius: 0.1rem;
  border: 0.1rem solid #fafafa;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  outline: 0;
  padding: 0 1.2rem 0 1.3rem;
  color: #fafafa;
}

.linediv, main .portafolio-contenedor .separador {
  border: solid 0.1px;
  color: #040303;
  margin: 10rem 0 10rem;
}

/* HEADER */
.navbar .navbar-brand {
  font-family: "Montserrat", sans-serif;
}
.navbar .navbar-nav {
  gap: 1rem;
}
.navbar .navbar-nav .nav-link:hover {
  color: #1a173b;
  transform: scale(1.1);
  transition: all ease 3ms;
}

.navbar .navbar-nav .nav-link {
  color: #525050;
  font-size: 1rem;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cacccd;
  width: 0%;
  content: "";
  height: 0.1rem;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
  transition: all ease 3ms;
}

@media screen and (max-width: 992px) {
  .flex-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* MAIN */
.titulo-index h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 5rem auto;
}

/* SECCION CARDS "NO BOOTSTRAP" */
.cards-contenedor .titulo-cards h2 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0 rgba(225, 236, 246, 0.667);
  padding-top: 10rem;
  text-align: center;
}
.cards-contenedor .card-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 2rem;
  margin: 5rem 0 5rem;
}
.cards-contenedor .card-wrap .card {
  max-width: 25rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 0rem 0.7rem;
  margin: 0.7rem 0.7rem;
  font-size: 1.2rem;
  text-justify: auto;
  box-shadow: 0 0 0.6rem rgba(239, 241, 243, 0.667);
}
.cards-contenedor .card-wrap .card .header-card {
  border-radius: 0.8rem 0.8rem 0 0;
  max-height: 2rem;
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.cards-contenedor .card-wrap .card .header-card img {
  max-width: 100%;
  border-radius: 0.6rem;
  margin-top: 1rem;
}
.cards-contenedor .card-wrap .card .footer-card .categoria-card {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: start;
}
.cards-contenedor .card-wrap .card .footer-card .categoria-card a {
  padding: 0.6rem 2.3rem;
  margin-top: 16rem;
  background-color: #00a6fb;
}
.cards-contenedor .card-wrap .card .footer-card .texto-card h3 {
  font-size: 1.5rem;
}
.cards-contenedor .card-wrap .card .footer-card .texto-card p {
  font-size: 0.8rem;
}
.cards-contenedor .card-wrap .card .footer-card .perfil-card {
  background-position: center;
  background-position-x: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.cards-contenedor .card-wrap .card .footer-card .perfil-card .img-perfil-card img {
  width: 2rem;
  border-radius: 50%;
  padding: auto;
}
.cards-contenedor .card-wrap .card .footer-card .perfil-card .text-perfil-card {
  flex-wrap: wrap;
  font-size: 0.6rem;
}

@media screen and (max-width: 998px) {
  .titulo-index h1 {
    font-size: 1.5rem;
  }
  .titulo-index .titulo-cards h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .titulo-index h1 {
    font-size: 1.2rem;
  }
  .cards-contenedor .titulo-cards h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .titulo-index h1 {
    font-size: 0.8rem;
  }
  .cards-contenedor .titulo-cards h2 {
    font-size: 0.6rem;
  }
  .cards-contenedor .card-wrap .card .footer-card .categoria-card {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: start;
  }
  .cards-contenedor .card-wrap .card .footer-card .categoria-card a {
    padding: 0.6rem 2.3rem;
    margin-top: 11rem;
    background-color: #00a6fb;
  }
}
/* PAGE 1 - HOLA SOY MAXI  */
.contenedor-back-sobremi {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../img/Sobremi/Maxi.jpg);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
.contenedor-back-sobremi .titulo-maxi {
  font-family: "Montserrat", sans-serif;
  animation: movimiento 3s infinite;
  transform: translate(0);
  font-size: 2.2rem;
}
.contenedor-back-sobremi .maxi-historia {
  font-size: 1rem;
}
@keyframes movimiento {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10rem);
  }
}

.contenedor-familia {
  margin-top: 10rem;
}

@media screen and (max-width: 767px) {
  .contenedor-back-sobremi .titulo-maxi {
    font-size: 1.5rem;
  }
  .contenedor-back-sobremi .maxi-historia {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  .contenedor-back-sobremi .titulo-maxi {
    font-size: 1.2rem;
  }
  .contenedor-back-sobremi .maxi-historia {
    font-size: 1.2rem;
  }
  section .maxi-amor h2 {
    font-size: 1.5rem;
  }
  section .contenedor-familia .titulo-familia {
    font-size: 1.2rem;
  }
}
/**** PORTAFOLIO****/
main .contenedor-back-porta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/LauyAgus/LauyAgusBoda4.jpg);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
main .contenedor-back-porta .content-area {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor-back-porta .content-area .titulo-port {
  margin-top: 13rem;
}
main .contenedor-back-porta .content-area .btn {
  padding: 1rem;
  margin-top: 3rem;
}
main .contenedor-back-porta .content-area .btn:hover {
  background: rgba(255, 255, 255, 0.0745098039);
}
main .portafolio-contenedor .titulo-portafolio {
  font-size: 2.2rem;
}

section .bodas-contenedor .titulo-seccion-port {
  font-size: 2rem;
  margin: 3rem auto 3rem 0;
}

section .slider-port {
  margin-top: 10rem;
}

/* IMAGEN DE BODA y SESION- */
.contenedor figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.contenedor figure img {
  transition: all 400ms ease;
}
.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 224, 235, 0.7);
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > img {
  transform: scale(1.3);
}

@media screen and (max-width: 992px) {
  .contenedor-back-porta {
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
  }
}
@media screen and (max-width: 375px) {
  main .contenedor-back-porta .content-area .titulo-port {
    font-size: 1.2rem;
  }
  main .portafolio-contenedor .content-porta .titulo-portafolio {
    font-size: 1.2rem;
  }
  section .bodas-contenedor .titulo-seccion-port {
    font-size: 1.2rem;
  }
}
/* BLOG  */
.contenedor-back-blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/grid/grid4.JPG);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

.titulo-blog h1 {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

.text-center h2 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0 rgba(225, 236, 246, 0.667);
  margin: 6rem 0 4rem;
}

.container-fluid .cont-fotos-viaje .col-lg-3 figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.container-fluid .cont-fotos-viaje .col-lg-3 figure img {
  transition: all 400ms ease;
}
.container-fluid .cont-fotos-viaje .col-lg-3 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 224, 235, 0.7);
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  display: flex;
}
.container-fluid .cont-fotos-viaje .col-lg-3 figure .capa p {
  margin: auto;
  color: #fafafa;
}
.container-fluid .cont-fotos-viaje .col-lg-3 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.container-fluid .cont-fotos-viaje .col-lg-3 figure:hover > img {
  transform: scale(1.3);
}

@media screen and (max-width: 375px) {
  .contenedor-back-blog {
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
  }
  .container-fluid .text-center h2 {
    font-size: 0.8rem;
  }
  article .text-center {
    font-size: 0.8rem;
  }
}
/* PAGINA INFORMACION  */
.titulo-info {
  margin-top: 10rem;
}

.titulo-cards-tips {
  margin-top: 20rem;
}

.main-index {
  margin-top: 10rem;
}

.contenedor-back-form {
  background-image: url(../img/EmiFerSesion/Emiyfersesion4.JPG);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

form {
  background: rgba(0, 0, 0, 0.1);
  width: 40rem;
  margin: 5rem auto 0rem;
  max-width: 100%;
  border-radius: 0.4rem;
  padding: 4rem 2rem;
}
form label {
  display: block;
  font-size: 0.8rem;
  color: #fafafa;
  text-decoration: solid;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
form .title {
  letter-spacing: 0.5rem;
  border-bottom: 0.1rem solid #fafafa;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  color: #fafafa;
}
form .half {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}
form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
}
form .half input {
  border-radius: 0.1rem;
  border: 1px solid #fafafa;
  outline: 0;
  padding: 1rem;
  width: 100%;
  height: 3rem;
  background: transparent;
  font-size: 1rem;
  color: #fafafa;
}

.full {
  margin-bottom: 1.5rem;
}
.full textarea {
  background: transparent;
  border-radius: 0.1rem;
  border: 0.1rem solid #fafafa;
  outline: 0;
  padding: 1rem 1rem;
  width: 100%;
  height: 15rem;
  font-size: 1rem;
  color: #fafafa;
}

.action {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

input {
  height: 3rem;
  margin-right: 0.6rem;
  width: 100%;
}
input[type=submit] {
  background: #fafafa;
  color: #040303;
}

form .half .item input:focus,
form .full textarea:focus,
form .action input[type=reset]:hover {
  background: rgba(255, 255, 255, 0.0745098039);
}

/*# sourceMappingURL=styles.css.map */
