// MEDIA QUERIES


// * MEDIA QUERIES GLOBAL  FOOTER */
@media screen and (max-width: 992px) {
    .flex-fill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

//  PAGE 0 
// TITULO PRINCIPAL 



// * MEDIA QUERIES CARDS - PAGE 0 */

@media (max-width: 935px) {
    .card-wrap {
        justify-content: center;
    }
}