/* MAIN */

// TITULO PRINCIPAL 

.titulo-index {
    h1 {
        font-family: $font2;
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin: 10rem auto 5rem auto;
    }
}


/* SECCION CARDS "NO BOOTSTRAP" */

.titulo-cards {
    h2 {
        font-size: 2rem;
        text-shadow: .1rem .1rem 0 rgba(225, 236, 246, 0.667);
        padding-top: 10rem;
        text-align: center;
    }
}


.card-wrap {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 5rem 0 5rem;

    .card {
        max-width: 25rem;
        background-color: #e5e6e4;
        border-radius: 0.5rem;
        padding: 0rem .7rem;
        margin: .7rem .7rem;
        font-size: .8rem;
        text-justify: auto;
        box-shadow: 0 0 .6rem rgba(239, 241, 243, 0.667);
    }

    .header-card {
        border-radius: .8rem .8rem 0 0;
        max-height: 2rem;
        height: 2rem;
        width: 100%;
    }

    img {
        max-width: 100%;
        border-radius: .6rem;
        margin-top: .7rem;
    }
}



.footer-card {
    .categoria-card {
        margin-bottom: 1rem;
        display: flex;
        justify-content: start;

        a {
            @extend .boton-gral;
            padding: .6rem 2.3rem;
            margin-top: 15rem;
            background-color: $azulboton;
        }
    }
}

.perfil-card {
    display: flex;
    align-items: center;

    .img-perfil-card {
        display: flex;

        img {
            width: 3rem;
            margin: 1rem 1rem 1rem 0;
            border-radius: 50%;

            .text-perfil-card {
                display: flex;
                flex-wrap: wrap;
            }

            span:nth-child(2) {
                color: #b3b2b2;
            }
        }
    }
}




// MEDIA QUERIES 


// TITULO PRINCIPAL 


@media screen and (max-width:1200px) {
    .titulo-index {
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width:769px) {
    .titulo-index {
        h1 {
            font-size: 1rem;
        }
    }

    // TITULO CARDS 

    @media screen and (max-width:769px) {

        .titulo-cards {
            h2 {
                font-size: 1.2rem;
            }
        }
    }



    //  CARDS 

    @media (max-width: 935px) {
        .card-wrap {
            justify-content: center;
        }
    }
}