/* PAGE 1 - HOLA SOY MAXI  */

.titulo-maxi {
    h1 {
        font-family: $font2;
        animation: movimiento 3s infinite;
        transform: translate(0);
    }

    @keyframes movimiento {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(7rem);
        }

    }
}

.contenedor-back-sobremi {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/Maxi.jpg);
    @include back-portada-2;

}