/* BLOG  */
// IMAGEN INICIO BLOG 

.contenedor-back-blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/grid/grid4.JPG);
    @include back-portada;
}

// TITULO PRINCIPAL H1

.titulo-blog {
    h1 {
        color: $blancoclaro;
        font-family: $font2;
    }
}

// TITULO SECUNDARIO - FOTOS DE VIAJES 

.text-center {
    h2 {
        font-size: $titsecundario;
        text-shadow: .1rem .1rem 0 rgba(225, 236, 246, 0.667);
        margin: 6rem 0 4rem;

    }
}

// HOVER A IMAGENES 

.col-lg-3 {
    &:hover {
        transform: scale(1.1);
    }

    img {
        transition: all 5s ease;
    }
}


// MEDIA QUERIES 

@media screen and (max-width:992px) {
    .contenedor-back-blog {
        @include back-portada;
    }
}