/**** PORTAFOLIO****/

// MAIN 

main {
    .contenedor-back-porta {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/LauyAgus/LauyAgusBoda4.jpg);
        @include back-portada;

        .content-area {
            height: 100vh;
            flex-direction: column;
            @include flex-jus-alg-cent;


            .titulo-port {
                margin-top: 13rem;
            }

            .btn {
                @extend .boton-gral;
                padding: 1rem;
                margin-top: 3rem;

                &:hover {
                    background: $grisboton;
                }
            }
        }
    }

    .portafolio-contenedor {

        .separador {
            @extend .linediv;
        }

        .titulo-portafolio {
            font-size: 3rem;
        }

    }
}

// SECTION BODAS 

section {
    .bodas-contenedor {
        .titulo-seccion-port {
            font-size: 2rem;
            margin: 3rem auto 3rem 0;
        }

    }

}

section {
    .slider-port {
        margin-top: 10rem;
    }
}

/* IMAGEN DE BODA y SESION- */

.contenedor figure {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
        transition: all 400ms ease;
    }

    .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(200, 224, 235, 0.7);
        transition: all 300ms ease;
        opacity: 0;
        visibility: hidden;
    }

    &:hover> {
        .capa {
            opacity: 1;
            visibility: visible;
        }

        img {
            transform: scale(1.3);
        }
    }
}


// ----MEDIA QUERIES PORTAFOLIO ----

@media screen and (max-width:992px) {
    .contenedor-back-porta {
        @include back-portada;
    }
}


@media screen and (max-width: 769px) {

    .titulo-port {
        font-size: $titercero
    }

    .titulo-portafolio {
        font-size: $titercero;
    }

    h3.titulo-seccion-port {
        font-size: $titercero;
        text-align: center;
    }
}