// * CONTACTO */
// FONDO DE FORMULARIO
.contenedor-back-form {
    background-image: url(../img/EmiFerSesion/Emiyfersesion4.JPG);
    @include back-portada;

}

// FORMULARIO DE CONTACTO
form {
    background: rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin: 5rem auto 0rem;
    max-width: 100%;
    border-radius: .4rem;
    padding: 4rem 2rem;

    label {
        display: block;
        font-size: .8rem;
        color: $blancoclaro;
        text-decoration: solid;
        letter-spacing: .2rem;
        margin-bottom: 1rem;
    }

    .title {
        letter-spacing: .5rem;
        border-bottom: .1rem solid $blancoclaro;
        display: inline-block;
        padding-bottom: .5rem;
        margin-bottom: 2rem;
        color: $blancoclaro;
    }

    .half {
        @include flex-col-bet-cent;

        .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            width: 100%;
            height: 100%;
        }

        input {
            border-radius: .1rem;
            border: 1px solid $blancoclaro;
            outline: 0;
            padding: 1rem;
            width: 100%;
            height: 3rem;
            background: transparent;
            font-size: 1rem;
            color: $blancoclaro
        }
    }
}

.full {
    margin-bottom: 1.5rem;

    textarea {
        background: transparent;
        border-radius: .1rem;
        border: .1rem solid $blancoclaro;
        outline: 0;
        padding: 1rem 1rem;
        width: 100%;
        height: 15rem;
        font-size: 1rem;
        color: $blancoclaro
    }
}

.action {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

input {
    @extend .boton-gral;
    height: 3rem;
    margin-right: .6rem;
    width: 100%;

    &[type="submit"] {
        background: $blancoclaro;
        color: $negrotop;
    }
}

// HOVER Y BACKGROUND IMPUTS Y TEXAREA

form .half .item input:focus,
form .full textarea:focus,
form .action input[type="reset"]:hover {
    background: $grisboton;
}