// PAGE 0 - INDEX

/* MAIN */

// TITULO PRINCIPAL 

.titulo-index {
    h1 {
        font-family: $font2;
        font-size: $titprincipal;
        @include flex-jus-alg-cent;
        margin: 10rem auto 5rem auto;
    }
}


/* SECCION CARDS "NO BOOTSTRAP" */
.cards-contenedor {
    .titulo-cards {
        h2 {
            font-size: $titsecundario;
            text-shadow: .1rem .1rem 0 rgba(225, 236, 246, 0.667);
            padding-top: 10rem;
            text-align: center;
        }
    }

    .card-wrap {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 2rem;
        margin: 5rem 0 5rem;

        .card {
            max-width: 25rem;
            background-color: $blancoclaro;
            border-radius: 0.5rem;
            padding: 0rem .7rem;
            margin: .7rem .7rem;
            font-size: $titulo-sec-media;
            text-justify: auto;
            box-shadow: 0 0 .6rem rgba(239, 241, 243, 0.667);

            .header-card {
                border-radius: .8rem .8rem 0 0;
                max-height: 2rem;
                height: 2rem;
                width: 100%;
                margin-bottom: 1rem;

                img {
                    max-width: 100%;
                    border-radius: .6rem;
                    margin-top: 1rem;
                }
            }

            .footer-card {
                .categoria-card {
                    margin-bottom: 1.5rem;
                    display: flex;
                    justify-content: center;

                    a {
                        @extend .boton-gral;
                        padding: .6rem 2.3rem;
                        margin-top: 16rem;
                        background-color: $azulboton;
                    }
                }

                .texto-card {
                    h3 {
                        font-size: $titulo-pri-media;
                    }

                    p {
                        font-size: $titulo-pri-mobile;
                    }
                }

                .perfil-card {
                    background-position: center;
                    background-position-x: center;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    margin-bottom: .5rem;

                    .img-perfil-card {
                        img {
                            width: 2rem;
                            border-radius: 50%;
                            padding: auto;
                        }
                    }

                    .text-perfil-card {
                        flex-wrap: wrap;
                        font-size: $titulo-sec-mobile;
                    }
                }
            }
        }
    }
}


// MEDIA QUERIES 

// TITULO PRINCIPAL 

@media screen and (max-width:998px) {
    .titulo-index {
        h1 {
            font-size: $titulo-pri-media;
        }
    }

    .cards-contenedor {
        .titulo-cards {
            h2 {
                font-size: $titulo-pri-media;
            }
        }
    }

    .cards-contenedor {
        .card-wrap {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            row-gap: 3rem;
        }
    }
}

@media screen and (max-width:767px) {
    .titulo-index {
        h1 {
            font-size: $titulo-sec-media;
        }
    }

    // CARDS
    .cards-contenedor {
        .titulo-cards {
            h2 {
                font-size: $titulo-sec-media;
            }
        }
    }
}

@media screen and (max-width:375px) {
    .titulo-index {
        h1 {
            font-size: $titulo-pri-mobile;
        }
    }

    // CARDS
    .cards-contenedor {

        .titulo-cards {
            h2 {
                font-size: $titulo-sec-mobile;
            }
        }

        .card-wrap {
            .card {
                .footer-card {
                    .categoria-card {
                        margin-bottom: 1.5rem;
                        display: flex;
                        justify-content: start;

                        a {
                            @extend .boton-gral;
                            padding: .6rem 2.3rem;
                            margin-top: 11rem;
                            background-color: $azulboton;
                        }
                    }
                }
            }
        }
    }
}