// COLORES 
$blancoclaro: #fafafa;
$grisclaro: #cacccd;
$azulboton: #00a6fb;
$grisboton: #ffffff13;
$negrotop: #040303;


// FUENTES TITULOS 
$titprincipal: 2.2rem;
$titsecundario: 2rem;
$titercero: 1.5rem;


// FAMILIA DE FUENTES

$font1: 'Lato', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3: 'Roboto', sans-serif;


// MIXINS  

@mixin back-portada {
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

@mixin back-portada-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-x: center;

}

@mixin flex-col-bet-cent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;

}

@mixin flex-jus-alg-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}