// COLORES 
$blancoclaro: #dedada;
$grisclaro: #cacccd;
$azulboton: #00a6fb;
$grisboton: #ffffff13;


// FUENTES TITULOS 
$titprincipal: 2.2rem;
$titsecundario: 2rem;


// FAMILIA DE FUENTES
$font1: 'Roboto', sans-serif;
$font2: 'Lato', sans-serif;
$font3: 'Montserrat', sans-serif;


// MIXINS  

@mixin back-portada {
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

@mixin back-portada-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-x: center;

}

@mixin displax-flex-centrado {}